/*
* Open Sans - BOLD
**************************/
@font-face {
  font-family: 'open_sansbold';
  src: url('fonts/Bold/opensans-bold.eot');
  src: url('fonts/Bold/opensans-bold.eot?#iefix') format('embedded-opentype'),
       url('fonts/Bold/opensans-bold.woff2') format('woff2'),
       url('fonts/Bold/opensans-bold.woff') format('woff'),
       url('fonts/Bold/opensans-bold.ttf') format('truetype'),
       url('fonts/Bold/opensans-bold.svg#open_sansbold') format('svg');
  font-weight: normal;
  font-style: normal;

}

/*
* Open Sans - BOLD ITALIC
**************************/
@font-face {
  font-family: 'open_sansbold_italic';
  src: url('fonts/BoldItalic/opensans-bolditalic.eot');
  src: url('fonts/BoldItalic/opensans-bolditalic.eot?#iefix') format('embedded-opentype'),
       url('fonts/BoldItalic/opensans-bolditalic.woff2') format('woff2'),
       url('fonts/BoldItalic/opensans-bolditalic.woff') format('woff'),
       url('fonts/BoldItalic/opensans-bolditalic.ttf') format('truetype'),
       url('fonts/BoldItalic/opensans-bolditalic.svg#open_sansbold_italic') format('svg');
  font-weight: normal;
  font-style: normal;

}

/*
* Open Sans  - EXTRA BOLD
**************************/
@font-face {
  font-family: 'open_sansextrabold';
  src: url('fonts/ExtraBold/opensans-extrabold.eot');
  src: url('fonts/ExtraBold/opensans-extrabold.eot?#iefix') format('embedded-opentype'),
       url('fonts/ExtraBold/opensans-extrabold.woff2') format('woff2'),
       url('fonts/ExtraBold/opensans-extrabold.woff') format('woff'),
       url('fonts/ExtraBold/opensans-extrabold.ttf') format('truetype'),
       url('fonts/ExtraBold/opensans-extrabold.svg#open_sansextrabold') format('svg');
  font-weight: normal;
  font-style: normal;

}

/*
* Open Sans  - EXTRA ITALIC
**************************/
@font-face {
  font-family: 'open_sansextrabold_italic';
  src: url('fonts/ExtraBoldItalic/opensans-extrabolditalic.eot');
  src: url('fonts/ExtraBoldItalic/opensans-extrabolditalic.eot?#iefix') format('embedded-opentype'),
       url('fonts/ExtraBoldItalic/opensans-extrabolditalic.woff2') format('woff2'),
       url('fonts/ExtraBoldItalic/opensans-extrabolditalic.woff') format('woff'),
       url('fonts/ExtraBoldItalic/opensans-extrabolditalic.ttf') format('truetype'),
       url('fonts/ExtraBoldItalic/opensans-extrabolditalic.svg#open_sansextrabold_italic') format('svg');
  font-weight: normal;
  font-style: normal;

}

/*
* Open Sans  - ITALIC
**************************/
@font-face {
  font-family: 'open_sansitalic';
  src: url('fonts/Italic/opensans-italic.eot');
  src: url('fonts/Italic/opensans-italic.eot?#iefix') format('embedded-opentype'),
       url('fonts/Italic/opensans-italic.woff2') format('woff2'),
       url('fonts/Italic/opensans-italic.woff') format('woff'),
       url('fonts/Italic/opensans-italic.ttf') format('truetype'),
       url('fonts/Italic/opensans-italic.svg#open_sansitalic') format('svg');
  font-weight: normal;
  font-style: normal;

}

/*
* Open Sans  - LIGHT
**************************/
@font-face {
  font-family: 'open_sanslight';
  src: url('fonts/Light/opensans-light.eot');
  src: url('fonts/Light/opensans-light.eot?#iefix') format('embedded-opentype'),
       url('fonts/Light/opensans-light.woff2') format('woff2'),
       url('fonts/Light/opensans-light.woff') format('woff'),
       url('fonts/Light/opensans-light.ttf') format('truetype'),
       url('fonts/Light/opensans-light.svg#open_sanslight') format('svg');
  font-weight: normal;
  font-style: normal;

}

/*
* Open Sans  - LIGHT ITALIC
**************************/
@font-face {
  font-family: 'open_sanslight_italic';
  src: url('fonts/LightItalic/opensans-lightitalic.eot');
  src: url('fonts/LightItalic/opensans-lightitalic.eot?#iefix') format('embedded-opentype'),
       url('fonts/LightItalic/opensans-lightitalic.woff2') format('woff2'),
       url('fonts/LightItalic/opensans-lightitalic.woff') format('woff'),
       url('fonts/LightItalic/opensans-lightitalic.ttf') format('truetype'),
       url('fonts/LightItalic/opensans-lightitalic.svg#open_sanslight_italic') format('svg');
  font-weight: normal;
  font-style: normal;

}

/*
* Open Sans  - REGULAR
**************************/
@font-face {
  font-family: 'open_sansregular';
  src: url('fonts/Regular/opensans-regular.eot');
  src: url('fonts/Regular/opensans-regular.eot?#iefix') format('embedded-opentype'),
       url('fonts/Regular/opensans-regular.woff2') format('woff2'),
       url('fonts/Regular/opensans-regular.woff') format('woff'),
       url('fonts/Regular/opensans-regular.ttf') format('truetype'),
       url('fonts/Regular/opensans-regular.svg#open_sansregular') format('svg');
  font-weight: normal;
  font-style: normal;

}

/*
* Open Sans  - SEMI BOLD
**************************/
@font-face {
  font-family: 'open_sanssemibold';
  src: url('fonts/Semibold/opensans-semibold.eot');
  src: url('fonts/Semibold/opensans-semibold.eot?#iefix') format('embedded-opentype'),
       url('fonts/Semibold/opensans-semibold.woff2') format('woff2'),
       url('fonts/Semibold/opensans-semibold.woff') format('woff'),
       url('fonts/Semibold/opensans-semibold.ttf') format('truetype'),
       url('fonts/Semibold/opensans-semibold.svg#open_sanssemibold') format('svg');
  font-weight: normal;
  font-style: normal;

}

/*
* Open Sans  - BOLD ITALIC
**************************/
@font-face {
  font-family: 'open_sanssemibold_italic';
  src: url('fonts/SemiboldItalic/opensans-semibolditalic.eot');
  src: url('fonts/SemiboldItalic/opensans-semibolditalic.eot?#iefix') format('embedded-opentype'),
       url('fonts/SemiboldItalic/opensans-semibolditalic.woff2') format('woff2'),
       url('fonts/SemiboldItalic/opensans-semibolditalic.woff') format('woff'),
       url('fonts/SemiboldItalic/opensans-semibolditalic.ttf') format('truetype'),
       url('fonts/SemiboldItalic/opensans-semibolditalic.svg#open_sanssemibold_italic') format('svg');
  font-weight: normal;
  font-style: normal;

}
